@font-face {
  font-family: "iconfont"; /* Project id 3985254 */
  src: url('//at.alicdn.com/t/c/font_3985254_k2a1d02ncl.woff2?t=1681994552847') format('woff2'),
       url('//at.alicdn.com/t/c/font_3985254_k2a1d02ncl.woff?t=1681994552847') format('woff'),
       url('//at.alicdn.com/t/c/font_3985254_k2a1d02ncl.ttf?t=1681994552847') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before {
  content: "\e642";
}

.icon-dianzan:before {
  content: "\e8c4";
}

  
.icon-yumaoqiu:before {
  content: "\ea76";
}

.icon-paizhao:before {
  content: "\e61f";
}
  
  .icon-paizhao:before {
    content: "\e61f";
  }
  
  .icon-programmingwindo:before {
    content: "\e608";
  }
  
  .icon-travel-tourism_mount:before {
    content: "\ef54";
  }
  
  .icon-taiwanjingpinmeishi:before {
    content: "\e605";
  }
  

  .icon-sousuo:before {
    content: "\e752";
  }

  .icon-youjian:before {
    content: "\e624";
  }
  
  .icon-zhifeiji:before {
    content: "\e62a";
  }
  
  .icon-daohangdizhi:before {
    content: "\e65e";
  }
  
  .icon-dianhua:before {
    content: "\e8c3";
  }
  
  .icon-github:before {
    content: "\e7ab";
  }
  
  .icon-facebook:before {
    content: "\e676";
  }
  
  .icon-tuite:before {
    content: "\e652";
  }
  
  .icon-gitee-fill-round:before {
    content: "\e686";
  }
  