<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dashui.blogs.mapper.blogs.BlogCommentMapper">

    <resultMap id="BaseResultMap" type="com.dashui.blogs.domain.BlogComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="praise" column="praise" jdbcType="INTEGER"/>
            <result property="blogId" column="blog_id" jdbcType="INTEGER"/>
            <result property="top" column="top" jdbcType="INTEGER"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="os" column="os" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,message,parent_id,
        praise,blog_id,top,
        browser,os,sort,
        ip,operator,address,
        avatar,create_time,update_time
    </sql>
</mapper>
