<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dashui.blogs.mapper.admin.AdminGroupMapper">

    <resultMap id="BaseResultMap" type="com.dashui.blogs.domain.AdminGroup">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="rules" column="rules" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="delFlag" column="del_flag" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,name,
        rules,status,update_time,
        create_time,create_by,update_by,
        del_flag,remark
    </sql>

    <select id="getAdminGroupIdsByAdminId" resultType="java.lang.Long">
        select
            id
        from
            admin_group ag
                left join admin_group_access aga on aga.group_id = ag.id
        where
            aga.uid = #{id}
    </select>

    <select id="getAdminGroupNamesByAdminId" resultType="java.lang.String">
        select
            name
        from
            admin_group ag
                left join admin_group_access aga on aga.group_id = ag.id
        where
            aga.uid = #{id}
    </select>
</mapper>
